<p style="color: green"><%= notice %></p>

<%= render @audiobook %>

<div>
 # <%= link_to "Edit this audiobook", edit_audiobook_path(@audiobook) %> |
  <%= link_to "Back to audiobooks", audiobooks_path %>

  # <%= button_to "Destroy this audiobook", @audiobook, method: :delete %>
</div>
